<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zt.shareextend">

    <application>

        <provider
            android:name="com.zt.shareextend.ShareExtendProvider"
            android:authorities="${applicationId}.shareextend.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
        </provider>

    </application>
</manifest>
